.grid .tick {
    stroke: lightgrey !important;
    opacity: 0.3 !important;
    shape-rendering: crispEdges !important;
}

.grid path {
    stroke-width: 0 !important;
}

#tag {
    color: white !important;
    background: #FA283D !important;
    width: 150px !important;
    position: absolute !important;
    display: none !important;
    padding: 3px 6px !important;
    margin-left: -80px !important;
    font-size: 11px !important;
}

#tag:before {
    border: solid transparent !important;
    content: ' ' !important;
    height: 0 !important;
    left: 50% !important;
    margin-left: -5px !important;
    position: absolute !important;
    width: 0 !important;
    border-width: 10px !important;
    border-bottom-color: #FA283D !important;
    top: -20px !important;
}

.taskText {
    fill: white !important;
    text-anchor: middle !important;
}

.taskTextOutsideRight {
    fill: black !important;
    text-anchor: start !important;
}

.taskTextOutsideLeft {
    fill: black !important;
    text-anchor: end !important;
}
[class*="done"] {
    fill: rgb(4, 165, 4) !important;
    border-color: none !important;

}